<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:switch="${flights}">
    <h2 th:case="null">No Flight yet!</h2>
        <div th:case="*">
            <h2>Flight</h2>
            <table>
                <thead>
                    <tr>
                        <th>AirlineID</th>
                        <th>DepartureAirportID</th>
                        <th>ArriveAirportID</th>
                        <th>ArriveTime</th>
                        <th>DepartureTime</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="flight : ${flights}">
                    <td th:text="${flight.airlineid}"></td>
                    <td th:text="${flight.getdepartAirportid()}"></td>
                    <td th:text="${flight.arriveAirportid}"></td>
                    <td th:text="${flight.departtime}"></td>
                    <td th:text="${flight.arrivetime}"></td>
                    <td><a th:href="@{/edit/{id}(id=${flight.idFlight})}">Edit</a></td>
                    <td><a th:href="@{/delete/{id}(id=${flight.idFlight})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>      
    <p><a href="/signup">Add a new flight</a></p>
</div>
</html>